h1 {
    text-align: center;
    color: white;
}
.col-md-6 {
    background-color:black;
    color: white;
}
img {
    width: 200px;
    height: 200px;
}
.col-md-12 {
    background-color:black;
    color: white;
}